<template>
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-container class="mt-5 pa-10 rounded-lg">
      <v-row>
        <!-- Admin -->
        <v-col>
          <v-card class="mx-auto" elevation-4>
            <v-list-item three-line>
              <v-list-item-content>
                <div>
                  <h1>
                    <v-icon
                      large
                      color="green darken-2"
                      class="fa-solid fa-flask-vial"
                    >
                    </v-icon>
                  </h1>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                  TESTER
                </v-list-item-title>

                <div>List of all testers</div>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <!-- <v-btn to="Compaign" outlined rounded text>
                LIST PRODUCT
              </v-btn> -->
              <v-btn
                to="Tester"
                class="ma-2"
                :loading="loading4"
                :disabled="loading4"
                color="info"
                @click="loader = 'loading4'"
              >
                LIST TESTER
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <!-- Page -->
        <v-col>
          <v-card class="mx-auto" elevation-4>
            <v-list-item three-line>
              <v-list-item-content>
                <div>
                  <h1>
                    <v-icon
                      large
                      color="green darken-2"
                      class="fa-solid fa-rectangle-list"
                    >
                    </v-icon>
                  </h1>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                  PAGE
                </v-list-item-title>

                <div>Page builder</div>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <v-btn
                to="HomeAdmin"
                class="ma-2"
                :loading="loading4"
                :disabled="loading4"
                color="info"
                @click="loader = 'loading4'"
              >
                LIST PAGE
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <!-- Product -->
        <v-col>
          <v-card class="mx-auto" elevation-4>
            <v-list-item three-line>
              <v-list-item-content>
                <div>
                  <h1>
                    <v-icon
                      large
                      color="green darken-2"
                      class="fa-solid fa-cube"
                    >
                    </v-icon>
                  </h1>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                  PRODUCT
                </v-list-item-title>

                <div>List of all products</div>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <!-- <v-btn to="Compaign" outlined rounded text>
                LIST PRODUCT
              </v-btn> -->
              <v-btn
                to="Product"
                class="ma-2"
                :loading="loading4"
                :disabled="loading4"
                color="info"
                @click="loader = 'loading4'"
              >
                LIST PRODUCT
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-row>
        <!-- Customer -->
        <v-col>
          <v-card class="mx-auto" elevation-4>
            <v-list-item three-line>
              <v-list-item-content>
                <div>
                  <h1>
                    <v-icon
                      large
                      color="green darken-2"
                      class="fa-solid fa-user"
                    >
                    </v-icon>
                  </h1>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                  CUSTOMER
                </v-list-item-title>

                <div>List of all Customers</div>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <!-- <v-btn to="Compaign" outlined rounded text>
                LIST PRODUCT
              </v-btn> -->
              <v-btn
                to="Customer"
                class="ma-2"
                :loading="loading4"
                :disabled="loading4"
                color="info"
                @click="loader = 'loading4'"
              >
                LIST CUSTOMER
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <!-- Compaign -->
        <v-col>
          <v-card class="mx-auto" elevation-4>
            <v-list-item three-line>
              <v-list-item-content>
                <div>
                  <h1>
                    <v-icon
                      large
                      color="green darken-2"
                      class="fa-solid fa-paper-plane"
                    >
                    </v-icon>
                  </h1>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                  CAMPAIGN
                </v-list-item-title>

                <div>List of all campaigns</div>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <!-- <v-btn to="Compaign" outlined rounded text>
                LIST COMPAIGN
              </v-btn> -->
              <v-btn
                to="Compaign"
                class="ma-2"
                :loading="loading4"
                :disabled="loading4"
                color="info"
                @click="loader = 'loading4'"
              >
                LIST CAMPAIGN
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <!-- Question -->
        <v-col>
          <v-card class="mx-auto" elevation-4>
            <v-list-item three-line>
              <v-list-item-content>
                <div>
                  <h1>
                    <v-icon
                      large
                      color="green darken-2"
                      class="fa-solid fa-circle-question"
                    >
                    </v-icon>
                  </h1>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                  QUESTION
                </v-list-item-title>

                <div>List of all questions</div>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <!-- <v-btn to="Compaign" outlined rounded text>
                LIST PRODUCT
              </v-btn> -->
              <v-btn
                to="Question"
                class="ma-2"
                :loading="loading4"
                :disabled="loading4"
                color="info"
                @click="loader = 'loading4'"
              >
                LIST QUESTION
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Admin",
  components: {},
};
</script>
