<template>
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-container class="mt-5 elevation-4 rounded-lg">
      <div>
        <v-btn
          color="indigo"
          class="text-white mb-5 d-flex ml-auto"
          @click="postCompaign"
          >Add</v-btn
        >
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-tab">
                  ID
                </th>
                <th class="text-tab">
                  DateStart
                </th>
                <th class="text-tab">
                  DateEnd
                </th>
                <th class="text-tab">
                  Product
                </th>
                <th class="text-tab">
                  Customer
                </th>
                <th class="text-tab">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in campaign" :key="item.id">
                <td class="pa-3">{{ item.id }}</td>
                <td class="pa-3">{{ item.datestart }}</td>
                <td class="pa-3">{{ item.dateend }}</td>
                <td class="pa-3">HORACE</td>
                <td class="pa-3">NIVEA</td>
                <td class="pa-3">
                  <v-btn @click="dialog = true" color="primary" dark>
                    Edit
                  </v-btn>
                  <v-btn
                    @click="dialogDelete = true"
                    color="error"
                    dark
                    class="ms-2"
                  >
                    Delete
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-container>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Date Start" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Date End"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Product"
                  persistent-hint
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5">
          Suppression
        </v-card-title>
        <v-card-text>Etes vous sur de vouloir supprimer ?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            Cancel
          </v-btn>
          <v-btn color="red darken-1" text @click="dialogDelete = false">
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
let tab = [];
let tab2 = [];
export default {
  name: "ListPost",
  components: {},
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      campaign: [],
    };
  },

  mounted() {
    if (localStorage.getItem("campaign")) {
      try {
        this.campaign = JSON.parse(localStorage.getItem("campaign"));
      } catch (e) {
        localStorage.removeItem("campaign");
      }
    }
  },

  created() {
    axios.get("http://localhost:8080/api/campaigns").then((response) => {
      tab = response.data;
      let str_json = JSON.parse(JSON.stringify(tab));
      for (var k in str_json) {
        if (k == "hydra:member") {
          for (var i in str_json[k]) {
            tab2[i] = str_json[k][i];
          }
        }
      }
      this.campaign = tab2;
      const parsed = JSON.stringify(this.campaign);
      localStorage.setItem("campaign", parsed);
    });
  },
  methods: {
    cancelMeth() {
      this.dialogDelete = false;
    },
    getCompaign() {
      console.log("");
      axios.get("http://localhost:8080/api/campaigns").then((response) => {
        tab = response.data;
        let str_json = JSON.parse(JSON.stringify(tab));
        for (var k in str_json) {
          if (k == "hydra:member") {
            for (var i in str_json[k]) {
              tab2[i] = str_json[k][i];
            }
          }
        }
        this.items = tab2;
      });
    },

    postCompaign() {
      console.log("hello");
      const compaig = {
        id: 9,
        datestart: "2018-06-24T00:00:00+02:00",
        dateend: "2018-06-29T00:00:00+02:00",
        customer: "/api/customers/2",
        questions: [],
        product: "/api/products/1",
      };

      // console.log(compaig);
      axios
        .post("http://localhost/api/campaigns", compaig)
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    editCompaign() {},
    deleteCompaign() {},
  },
};
</script>

<style scoped>
.text-tab {
  font-size: 15px;
}
</style>
