<template>
  <div>
    <my-header />
    <div class="homepage">
      <div class="home">
        <div class="container-fluid ">
          <div class="row def">
            <div class="col-8 digitally ">
              <h2 style=" font-weight: bold;">
                {{ $t("contentHome.section1.title1") }}
              </h2>
              <br />
              <h3>
                <span style="color:#FF604D">
                  {{ $t("contentHome.section1.title2") }}
                </span>
                {{ $t("contentHome.section1.sub1") }}
              </h3>
              <h3>{{ $t("contentHome.section1.sub2") }}</h3>
              <h3>{{ $t("contentHome.section1.sub3") }}</h3>
              <br /><br />
              <router-link class="nav-link active btn book " to="#"
                >{{ $t("contentHome.section1.demo") }}
              </router-link>
            </div>
            <div class="col-4">
              <img
                class="plage "
                src="../assets/plage.png"
                alt=""
                width="100%"
                height="400"
              />
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row plus">
            <div class="col">
              <router-link class="nav-link active btn " to="#">
                <span> {{ $t("contentHome.section1.biology") }}</span>
                <img
                  class="plage "
                  src="../assets/biology.png"
                  alt=""
                  width="10%"
                  height="10%"
              /></router-link>
            </div>
            <div class="col">
              <router-link class="nav-link active btn " to="#"
                ><span>{{ $t("contentHome.section1.nomadicLab") }}</span>
                <img
                  class="plage "
                  src="../assets/microscope.png"
                  alt=""
                  width="10%"
                  height="10%"
                />
              </router-link>
            </div>
            <div class="col">
              <router-link class="nav-link active btn " to="#"
                ><span>{{ $t("contentHome.section1.appConsumer") }}</span>
                <img
                  class="plage "
                  src="../assets/mobile-app.png"
                  alt=""
                  width="10%"
                  height="10%"
                />
              </router-link>
            </div>
            <div class="col">
              <router-link class="nav-link active btn " to="#"
                ><span>{{ $t("contentHome.section1.algo") }}</span>
                <img
                  class="plage "
                  src="../assets/neural.png"
                  alt=""
                  width="10%"
                  height="10%"
              /></router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid BeautyTech ">
        <h2 class="beauty">{{ $t("contentHome.section2.title") }}</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card" style="width: 80%;">
              <img src="../assets/Capture.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5>{{ posts.data["hydra:member"][0].title }}</h5>
                <br />
                <p class="card-text">
                  {{ posts.data["hydra:member"][0].text }}
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width:80%;">
              <img
                src="../assets/smartphone.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5>{{ posts.data["hydra:member"][1].title }}</h5>
                <br />
                <p class="card-text">
                  {{ posts.data["hydra:member"][1].text }}
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width:80%;">
              <img
                src="../assets/analysis.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5>{{ posts.data["hydra:member"][2].title }}</h5>
                <br />
                <p class="card-text">
                  {{ posts.data["hydra:member"][2].text }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid SMART ">
        <h2 class="beauty">{{ posts.data["hydra:member"][3].title }}</h2>
        <div class="row ">
          <div class="col-8 ">
            <h4>{{ $t("contentHome.section3.subtitle1") }}</h4>
            <br />
            <p>
              {{ posts.data["hydra:member"][3].text }}
            </p>
          </div>
          <div class="col-4">
            <img src="../assets/Capturer.png" class="card-img-top" alt="" />
          </div>
        </div>
      </div>

      <div class="container-fluid values ">
        <h2 class="beauty">{{ $t("contentHome.section4.title") }}</h2>
        <div class="row ">
          <div class="col-6 values">
            <p>
              {{ posts.data["hydra:member"][4].text }}
            </p>
          </div>
          <div class="col-6">
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card values">
                  <div class="card-body values">
                    <h5 class="card-title ">
                      {{ posts.data["hydra:member"][5].title }}
                    </h5>
                    <br />
                    <p class="card-text values">
                      {{ posts.data["hydra:member"][5].text }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card values">
                  <div class="card-body values">
                    <h5 class="card-title ">
                      {{ posts.data["hydra:member"][6].title }}
                    </h5>
                    <br />
                    <p class="card-text values">
                      {{ posts.data["hydra:member"][6].text }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card values">
                  <div class="card-body values">
                    <h5 class="card-title ">
                      {{ posts.data["hydra:member"][7].title }}
                    </h5>
                    <br />
                    <p class="card-text values">
                      {{ posts.data["hydra:member"][7].text }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card values values">
                  <div class="card-body values">
                    <h5 class="card-title ">
                      {{ posts.data["hydra:member"][8].title }}
                    </h5>
                    <br />
                    <p class="card-text values">
                      {{ posts.data["hydra:member"][8].text }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <my-footer />
  </div>
</template>

<script>
import axios from "axios";
import MyHeader from "../components/MyHeader.vue";
import MyFooter from "../components/MyFooter.vue";

export default {
  name: "Home",
  components: { MyHeader, MyFooter },
  data() {
    return {
      posts: [],
    };
  },
  mounted() {
    axios
      .get("http://localhost:8080/api/posts")
      .then((response) => (this.posts = response));
  },
};
</script>
<style scoped>
.home {
  background-color: #e8eff2;
}
.container-fluid.BeautyTech {
  padding-top: 5%;
}
.container-fluid.SMART {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #e8eff2;
}
.row {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.row.plus {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.col-8.digitally {
  margin-top: 70px;
}
.row.def {
  margin-bottom: 40px;
}
h3,
h4,
h5 {
  font-weight: bold;
  text-align: left;
  color: #09425a;
}
h2.beauty {
  font-weight: 1000;
  color: #09425a;
}
.card {
  border-radius: 0px 0px 0px 0px;
  border: 1px;
}
.card.values {
  background-color: #aabec6;
}
.col-6.values {
  padding-top: 8%;
}
.container-fluid.values {
  padding-top: 5%;
  padding-bottom: 2%;
}
.row.row-cols-1.row-cols-md-2.g-4 {
  padding: 0%;
}

p.card-text.values {
  color: white;
}
.card-body.values {
  height: 250px;
}
.nav-link.active.btn {
  color: #ffffff !important;
  background-color: #6a99ab;
  width: 80%;
  font-weight: 600;
}
.nav-link.active.btn.book {
  color: #ffffff !important;
  background-color: #09425a;
  width: 25%;
  font-weight: 600;
}
.coll-4 {
  display: flex;
  align-items: right;
}
img.plage {
  object-position: right top;
}
img {
  object-fit: cover;
}
p {
  color: black;
}
</style>
