<template>
  <div class="homepage">
    <!-- <div class="home">
      <div class="container-fluid ">
        <div class="row def">
          <div class="col-8 digitally ">
            <h2 style=" font-weight: bold;">
              Digitally enabled Lab & Consumer skincare testing
            </h2>
            <br />
            <h3>
              <span style="color:#FF604D"> NEW ! DIFFERENT ! BETTER </span> ways
              to research skincare :
            </h3>
            <h3>Hybrid clinical trials and consumer studies with</h3>
            <h3>connected IOT and app</h3>
            <br /><br />
            <router-link class="nav-link active btn book " to="#"
              >Book a demo
            </router-link>
          </div>
          <div class="col-4">
            <img
              class="plage "
              src="../assets/plage.png"
              alt=""
              width="100%"
              height="400"
            />
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row plus">
          <div class="col">
            <router-link class="nav-link active btn " to="#">
              <span> BIOLOGY +</span>
              <img
                class="plage "
                src="../assets/biology.png"
                alt=""
                width="10%"
                height="10%"
            /></router-link>
          </div>
          <div class="col">
            <router-link class="nav-link active btn " to="#"
              ><span>IOT NOMADIC LAB +</span>
              <img
                class="plage "
                src="../assets/microscope.png"
                alt=""
                width="10%"
                height="10%"
              />
            </router-link>
          </div>
          <div class="col">
            <router-link class="nav-link active btn " to="#"
              ><span>CONSUMER APP +</span>
              <img
                class="plage "
                src="../assets/mobile-app.png"
                alt=""
                width="10%"
                height="10%"
              />
            </router-link>
          </div>
          <div class="col">
            <router-link class="nav-link active btn " to="#"
              ><span>INSANELY FAST ALGORYTHM +</span>
              <img
                class="plage "
                src="../assets/neural.png"
                alt=""
                width="10%"
                height="10%"
            /></router-link>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container-fluid BeautyTech ">
      <h2 class="beauty">Manage the Content of the pages</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="width: 80%;">
            <img
              src="../assets/Capture.png"
              class="card-img-top"
              alt="..."
            /><br />
            <div class="card-body">
              <form v-on:submit.prevent="submitForm1">
                <input
                  type="file"
                  @change="onFileSelected($event, 'capture.png')"
                /><br />
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  v-model="post1.title"
                /><br />
                <textarea
                  class="form-control"
                  id="text"
                  placeholder="your text"
                  v-model="post1.text"
                ></textarea
                ><br />
                <button class="btn btn-primary">Modifier</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width:80%;">
            <img
              src="../assets/smartphone.jpg"
              class="card-img-top"
              alt="..."
            /><br />
            <div class="card-body">
              <form v-on:submit.prevent="submitForm2">
                <input
                  type="file"
                  @change="onFileSelected($event, 'smartphone.jpg')"
                /><br />
                <input
                  type="text"
                  class="form-control"
                  id="title2"
                  v-model="post2.title"
                /><br />
                <textarea
                  type="text"
                  class="form-control"
                  id="text2"
                  placeholder="your text"
                  v-model="post2.text"
                ></textarea
                ><br />
                <button class="btn btn-primary">Modifier</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width:80%;">
            <img
              src="../assets/analysis.jpg"
              class="card-img-top"
              alt="..."
            /><br />
            <div class="card-body">
              <form v-on:submit.prevent="submitForm3">
                <input
                  type="file"
                  @change="onFileSelected($event, 'analysis.jpg')"
                /><br />
                <input
                  type="text"
                  class="form-control"
                  id="title3"
                  placeholder="your title"
                  v-model="post3.title"
                /><br />
                <textarea
                  class="form-control"
                  id="text3"
                  placeholder="your text"
                  v-model="post3.text"
                ></textarea
                ><br />
                <button class="btn btn-primary">Modifier</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid SMART ">
      <form v-on:submit.prevent="submitForm4">
        <h2 class="beauty">
          <input
            type="text"
            class="form-control"
            id="title4"
            placeholder="your title"
            v-model="post4.title"
          />
        </h2>
        <div class="row ">
          <div class="col-8 ">
            <h4>Our measurements range from :</h4>
            <br />
            <p>
              <textarea
                class="form-control"
                id="text4"
                placeholder="your text"
                v-model="post4.text"
              ></textarea>
            </p>
          </div>
          <div class="col-4">
            <img src="../assets/Capturer.png" class="card-img-top" alt="" />
            <input
              type="file"
              @change="onFileSelected($event, 'Capturer.png')"
            /><br />
          </div>
        </div>
        <button class="btn btn-primary">Modifier l'article</button>
      </form>
    </div>

    <div class="container-fluid values ">
      <h2 class="beauty">VALUES AND SPIRIT</h2>
      <div class="row ">
        <div class="col-6 values">
          <form v-on:submit.prevent="submitForm5">
            <p>
              <textarea
                class="form-control"
                id="text5"
                placeholder="your text"
                v-model="post5.text"
              ></textarea>
            </p>
            <button class="btn btn-primary">Modifier l'article</button>
          </form>
        </div>
        <div class="col-6">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card values">
                <div class="card-body values">
                  <form v-on:submit.prevent="submitForm6">
                    <h5 class="card-title ">
                      <input
                        type="text"
                        class="form-control"
                        id="title6"
                        v-model="post6.title"
                      />
                    </h5>
                    <br />
                    <p class="card-text values">
                      <textarea
                        class="form-control"
                        id="text6"
                        v-model="post6.text"
                      ></textarea>
                    </p>
                    <button class="btn btn-primary">Modifier</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card values">
                <div class="card-body values">
                  <form v-on:submit.prevent="submitForm7">
                    <h5 class="card-title ">
                      <input
                        type="text"
                        class="form-control"
                        id="title7"
                        placeholder="your title"
                        v-model="post7.title"
                      />
                    </h5>
                    <br />
                    <p class="card-text values">
                      <textarea
                        class="form-control"
                        id="text7"
                        placeholder="your text"
                        v-model="post7.text"
                      ></textarea>
                    </p>
                    <button class="btn btn-primary">Modifier</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card values">
                <div class="card-body values">
                  <form v-on:submit.prevent="submitForm8">
                    <h5 class="card-title ">
                      <input
                        type="text"
                        class="form-control"
                        id="title8"
                        v-model="post8.title"
                      />
                    </h5>
                    <br />
                    <p class="card-text values">
                      <textarea
                        class="form-control"
                        id="text8"
                        placeholder="your text"
                        v-model="post8.text"
                      ></textarea>
                    </p>
                    <button class="btn btn-primary">Modifier</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card values values">
                <div class="card-body values">
                  <form v-on:submit.prevent="submitForm9">
                    <h5 class="card-title ">
                      <input
                        type="text"
                        class="form-control"
                        id="title9"
                        v-model="post9.title"
                      />
                    </h5>
                    <br />
                    <p class="card-text values">
                      <textarea
                        class="form-control"
                        id="text9"
                        v-model="post9.text"
                      ></textarea>
                    </p>
                    <button class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HomeAdmin",
  components: {},
  data() {
    return {
      post1: {},
      post2: {},
      post3: {},
      post4: {},
      post5: {},
      post6: {},
      post7: {},
      post8: {},
      post9: {},

      /*form: {
        title: '',
        link: 'string',
        text: '',
        picture: 'string',
        admin: 'api/admins/4'
      }*/
    };
  },
  created() {
    axios
      .get("http://localhost:8080/api/posts/1")
      .then((response) => (this.post1 = response.data));
    axios
      .get("http://localhost:8080/api/posts/2")
      .then((response) => (this.post2 = response.data));
    axios
      .get("http://localhost:8080/api/posts/3")
      .then((response) => (this.post3 = response.data));
    axios
      .get("http://localhost:8080/api/posts/4")
      .then((response) => (this.post4 = response.data));
    axios
      .get("http://localhost:8080/api/posts/5")
      .then((response) => (this.post5 = response.data));
    axios
      .get("http://localhost:8080/api/posts/6")
      .then((response) => (this.post6 = response.data));
    axios
      .get("http://localhost:8080/api/posts/7")
      .then((response) => (this.post7 = response.data));
    axios
      .get("http://localhost:8080/api/posts/8")
      .then((response) => (this.post8 = response.data));
    axios
      .get("http://localhost:8080/api/posts/9")
      .then((response) => (this.post9 = response.data));
  },
  methods: {
    submitForm1() {
      axios
        .put("http://localhost:8080/api/posts/1", this.post1)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm2() {
      axios
        .put("http://localhost:8080/api/posts/2", this.post2)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm3() {
      axios
        .put("http://localhost:8080/api/posts/3", this.post3)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm4() {
      axios
        .put("http://localhost:8080/api/posts/4", this.post4)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm5() {
      axios
        .put("http://localhost:8080/api/posts/5", this.post5)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm6() {
      axios
        .put("http://localhost:8080/api/posts/6", this.post6)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm7() {
      axios
        .put("http://localhost:8080/api/posts/7", this.post7)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm8() {
      axios
        .put("http://localhost:8080/api/posts/8", this.post8)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
    submitForm9() {
      axios
        .put("http://localhost:8080/api/posts/9", this.post9)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },

    onFileSelected(event, nom) {
      console.log(event.target.files[0]);
      const params = new FormData();
      params.append("image", event.target.files[0]);
      params.append("nom", nom);

      axios
        .post("http://localhost:8080/uploadimage", params)
        .then((res) => {
          return res;
        })
        .catch((error) => {
          return error;
        })
        .finally(() => {
          //Perform action in always
        });
    },
  },
};
</script>
<style scoped>
.home {
  background-color: #e8eff2;
}
.container-fluid.BeautyTech {
  padding-top: 5%;
}
.container-fluid.SMART {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #e8eff2;
}
.row {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.row.plus {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.col-8.digitally {
  margin-top: 70px;
}
.row.def {
  margin-bottom: 40px;
}
h3,
h4,
h5 {
  font-weight: bold;
  text-align: left;
  color: #09425a;
}
h2.beauty {
  font-weight: 1000;
  color: #09425a;
}
.card {
  border-radius: 0px 0px 0px 0px;
  border: 1px;
}
.card.values {
  background-color: #aabec6;
}
.col-6.values {
  padding-top: 8%;
}
.container-fluid.values {
  padding-top: 5%;
  padding-bottom: 2%;
}
.row.row-cols-1.row-cols-md-2.g-4 {
  padding: 0%;
}

p.card-text.values {
  color: white;
}
.card-body.values {
  height: 250px;
}
.nav-link.active.btn {
  color: #ffffff !important;
  background-color: #6a99ab;
  width: 80%;
  font-weight: 600;
}
.nav-link.active.btn.book {
  color: #ffffff !important;
  background-color: #09425a;
  width: 25%;
  font-weight: 600;
}
.coll-4 {
  display: flex;
  align-items: right;
}
img.plage {
  object-position: right top;
}
img {
  object-fit: cover;
}
p {
  color: black;
}
</style>
