<template style="background: rgb(243 244 246)">
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>
    <v-container id="content" class="d-flex ml-auto">
      <!-- <v-col cols="12" md="6">
        <v-alert
          v-if="verifEmailAlert"
          border="start"
          closable=""
          elevation="2"
          rounded="t-xl b-lg"
          type="warning"
          variant="outlined"
          >Veuillez saisir un email et mot de passe valide
        </v-alert>
      </v-col> -->
      <br />
      <v-row>
        <v-col v-if="userlogin">
          <v-form v-model="validLog" lazy-validation>
            <v-card
              class="pa-lg-5 rounded-xl border mx-auto"
              width="800"
              elevation="3"
            >
              
                
                  <v-card-title class="text-primary log">
                    <h1>Login</h1>
                  </v-card-title>
                
              

              <v-card-text class="pa-lg-5">
                <input type="email" id="email"  v-model="email"
                pattern=".+@globex\.com" size="30" required>
                <v-text-field
                 
                  :rules="emailRules"
                  type="email"
                  color="primary"
                  label="Adresse mail"
                  prepend-inner-icon="fa-solid fa-at"
                  required
                  variant="outlined"
                ></v-text-field>

                <v-text-field
                  v-model="password"
                  :append-icon="
                    showPassLog ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
                  "
                  
                  :type="showPassLog ? 'text' : 'password'"
                  color="primary"
                  hint="At least 8 characters"
                  label="Mot de passe"
                  name="Password"
                  prepend-inner-icon="fa-solid fa-lock"
                  required
                  variant="outlined"
                  @click:append="showPassLog = !showPassLog"
                ></v-text-field>

                <v-checkbox color="primary" label="Rester connecté?" />
                <v-btn color="primary" @click="validate" v-on:click="logintester">
                  <v-dialog v-model="loading" hide-overlay persistent>
                    <v-card color="indigo">
                      <v-card-text>
                        Connexion en cours
                        <v-progress-linear
                          class="mb-0"
                          color="white"
                          indeterminate
                        ></v-progress-linear>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                  Login
                </v-btn>
              </v-card-text>

              <v-card-actions>
                <div class="text-sm-body-2">
                  Je n'ai pas de compte?
                  <a class="text-primary" @click="user_register()">S'inscrire</a
                  >.
                </div>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-col>

        
      </v-row>
    </v-container>
  </div>
</template>

<script>
// import { ref } from 'vue'
import router from "./../router/index";
 import axios from "axios";


const email2 = "test@gmail.com";
const passw = "test2020";
export default {
  components: {},
  name: "Login",
  data ()
  { 
    return {
    email: "",
    password: "",
    userlogin: true,
    userregister: false,
    showPassLog: false,
    loading: false,
    validLog: "",
    verifEmailAlert: false,
    emailRules: [ 
        v => !!v || 'E-mail is required',
         v => /^(([^<>()[\]\\.,;:\s@']+(\.[^<>()\\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid',
      ],
  }
  
    
  },

  methods: {
    validate() {
      if (this.email == email2 && this.password == passw) {
        router.push({
          path: "Admin",
        });
      } else {
        // alert("something is wrong !!");
        this.verifEmailAlert = true;
      }
    },

    async logintester() {
     let result= await axios.get(`http://localhost:8080/api/testers?email=${this.email}&password=${this.password}`)
             if(result.status==200 && result.data.length>0){
              localStorage.setItem("user-info", JSON.stringify(result.data.result[0]));
              this.$router.push({name:'TesterAdmin'})
             }
             console.log(result)
    },
    

 
  },

  // send a POST request
};
</script>
