<template style="background: rgb(243 244 246)">
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>
    <v-container id="content" class="d-flex ml-auto">
      <!-- <v-col cols="12" md="6">
        <v-alert
          v-if="verifEmailAlert"
          border="start"
          closable=""
          elevation="2"
          rounded="t-xl b-lg"
          type="warning"
          variant="outlined"
          >Veuillez saisir un email et mot de passe valide
        </v-alert>
      </v-col> -->
      <br />
      <v-row>
        <v-col v-if="userlogin">
          <v-form v-model="validLog" lazy-validation>
            <v-card
              class="pa-lg-5 rounded-xl border mx-auto"
              width="800"
              elevation="3"
            >
              <v-card-header>
                <v-card-header-text>
                  <v-card-title class="text-primary log">
                    <h1>Login</h1>
                  </v-card-title>
                </v-card-header-text>
              </v-card-header>

              <v-card-text class="pa-lg-5">
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  color="primary"
                  label="Adresse mail"
                  prepend-inner-icon="fa-solid fa-at"
                  required
                  variant="outlined"
                ></v-text-field>

                <v-text-field
                  v-model="password"
                  :append-icon="
                    showPassLog ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
                  "
                  :rules="passwordRules"
                  :type="showPassLog ? 'text' : 'password'"
                  color="primary"
                  hint="At least 8 characters"
                  label="Mot de passe"
                  name="Password"
                  prepend-inner-icon="fa-solid fa-lock"
                  required
                  variant="outlined"
                  @click:append="showPassLog = !showPassLog"
                ></v-text-field>

                <v-checkbox color="primary" label="Rester connecté?" />
                <v-btn color="primary" @click="validate">
                  <v-dialog v-model="loading" hide-overlay persistent>
                    <v-card color="indigo">
                      <v-card-text>
                        Connexion en cours
                        <v-progress-linear
                          class="mb-0"
                          color="white"
                          indeterminate
                        ></v-progress-linear>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                  Connexion
                </v-btn>
              </v-card-text>

              <v-card-actions>
                <div class="text-sm-body-2">
                  Je n'ai pas de compte?
                  <a class="text-primary" @click="user_register()">S'inscrire</a
                  >.
                </div>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-col>

        <v-col v-if="userregister">
          <v-form v-model="valid" lazy-validation>
            <v-card
              class="pa-lg-5 rounded-xl border mx-auto"
              width="800"
              elevation="3"
            >
              <v-card-header>
                <v-card-header-text>
                  <v-card-title class="text-primary">
                    <h1>Register</h1>
                  </v-card-title>
                </v-card-header-text>
              </v-card-header>

              <v-card-text class="pa-lg-5">
                <v-text-field
                  v-model="email"
                  color="primary"
                  label="name@example.com"
                  prepend-inner-icon="fa-solid fa-at"
                  required
                  variant="outlined"
                ></v-text-field>

                <v-text-field
                  v-model="password"
                  :append-icon="
                    showPassLog ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
                  "
                  :type="showPassLog ? 'text' : 'password'"
                  color="primary"
                  hint="At least 8 characters"
                  label="Mot de passe"
                  name="Password"
                  prepend-inner-icon="fa-solid fa-lock"
                  required
                  variant="outlined"
                  @click:append="showPassLog = !showPassLog"
                ></v-text-field>

                <v-flex>
                  <v-text-field
                    v-model="password"
                    :append-icon="
                      showPassLog ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
                    "
                    :rules="passwordRules"
                    :type="showPassLog ? 'text' : 'password'"
                    color="primary"
                    hint="At least 8 characters"
                    label="Mot de passe"
                    name="Password"
                    prepend-inner-icon="fa-solid fa-lock"
                    required
                    variant="outlined"
                    @click:append="showPassLog = !showPassLog"
                  ></v-text-field>
                </v-flex>

                <v-checkbox v-model="checkbox" color="primary">
                  <template #label>
                    <div>
                      Je suis d'accord avec les
                      <v-tooltip bottom>
                        <template #activator="{ on }">
                          <a href="#" target="_blank" v-on="on" @click.stop>
                            Termes et conditions
                          </a>
                        </template>
                        Opens in new window
                      </v-tooltip>
                    </div>
                  </template>
                </v-checkbox>

                <v-btn :disabled="!valid" color="primary" @click="registerMetho"
                  >S'inscrire</v-btn
                >
              </v-card-text>

              <v-card-actions>
                <div class="text-sm-body-2">
                  Vous avez déjà un compte?
                  <a class="text-primary" @click="user_login()">Connexion</a>.
                </div>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// import { ref } from 'vue'
import router from "./../router/index";
// import axios from "axios";
import userjson from "./../../json/userjson.json";

const email2 = "amin@gmail.com";
const passw = "amin123";
export default {
  components: {},
  name: "Login",
  data: () => ({
    email: "",
    password: "",
    userlogin: true,
    userregister: false,
    showPassLog: false,
    loading: false,
    validLog: "",
    verifEmailAlert: false,
  }),

  methods: {
    validate() {
      if (this.email == email2 && this.password == passw) {
        router.push({
          path: "Admin",
        });
      } else {
        // alert("something is wrong !!");
        this.verifEmailAlert = true;
      }
    },
    user_register() {
      this.userlogin = false;
      this.userregister = true;
    },
    user_login() {
      (this.userlogin = true), (this.userregister = false);
    },

    registerMetho() {
      userjson.forEach((x) => {
        x.identifiant = this.email;
        x.password = this.password;
        console.log(x);
      });
    },
  },

  // send a POST request
};
</script>
