<template>
  <div>
    <my-header />
    <div class="homepage">
      <div class="home">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-6 app">
              <h3>{{ $t("contentNewNomadic.section1.title") }}</h3>
              <br /><br />

              <p>{{ $t("contentNewNomadic.section1.p1") }}<br /><br /><br /></p>
            </div>
            <div class="col-6">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card better">
                    <div class="card-body better">
                      <h5 class="card-title " style="text-align:center">
                        {{ $t("contentNewNomadic.section1.card1") }}
                      </h5>
                      <br />
                      <p class="card-text better" style="color:#fff">
                        {{ $t("contentNewNomadic.section1.p2") }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card New">
                    <div class="card-body New">
                      <h5 class="card-title " style="text-align:center">
                        {{ $t("contentNewNomadic.section1.card2") }}
                      </h5>
                      <br />
                      <p class="card-text New " style="color:#fff">
                        {{ $t("contentNewNomadic.section1.p3") }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" d-flex justify-content-center different ">
                <div class="card different">
                  <div class="card-body different">
                    <h5 class="card-title " style="text-align:center">
                      {{ $t("contentNewNomadic.section1.card3") }}
                    </h5>
                    <br />
                    <p class="card-text New" style="color:#fff">
                      {{ $t("contentNewNomadic.section1.p4") }}
                    </p>
                  </div>
                </div>
              </div>
              <br /><br />
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid SKINCARE ">
        <div class="row ">
          <div class="col-8 DATA ">
            <h3>{{ $t("contentNewNomadic.section2.title") }}</h3>
            <br />
            <p>
              {{ $t("contentNewNomadic.section2.p1") }}<br />
              {{ $t("contentNewNomadic.section2.p2") }}<br />
              {{ $t("contentNewNomadic.section2.p3") }}
            </p>
          </div>
          <div class="col-4 img">
            <img src="../assets/Capturer.png" class="card-img-top" alt="" />
          </div>
        </div>
      </div>
      <div class="container-fluid ALGORITHM ">
        <h2>{{ $t("contentNewNomadic.section3.title") }}</h2>
        <p style="padding-right:20%;padding-left:20%">
          {{ $t("contentNewNomadic.section3.subtitle") }}
        </p>
        <div class="cards">
          <div class="col">
            <div class="card algo aqua">
              <p>{{ $t("contentNewNomadic.section3.card1") }}</p>
              <img src="../assets/a.png" alt="" />
            </div>
          </div>
          <div class="col">
            <div class="card algo red">
              <p>{{ $t("contentNewNomadic.section3.card2") }}</p>
              <img src="../assets/b.png" alt="" />
            </div>

            <div class="card algo orange">
              <p>{{ $t("contentNewNomadic.section3.card3") }}</p>
              <img src="../assets/c.png" alt="" />
            </div>
          </div>
          <div class="col">
            <div class="card algo blue">
              <p>{{ $t("contentNewNomadic.section3.card4") }}</p>
              <img src="../assets/d.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <button class="btn">{{ $t("contentNewNomadic.section3.demo") }}</button>
      </div>
    </div>
    <my-footer />
  </div>
</template>

<script>
import MyHeader from "../components/MyHeader.vue";
import MyFooter from "../components/MyFooter.vue";
export default {
  name: "Home",
  components: { MyHeader, MyFooter },
};
</script>
<style scoped>
.home {
  background-color: #e8eff2;
}

.row {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.container-fluid.ALGORITHM {
  background-color: #e8eff2;
  padding: 5% 5% 0% 5%;
}

h2,
h3,
h4,
h5 {
  font-weight: bold;
  text-align: left;
  color: #09425a;
}
h2 {
  font-weight: bold;
  text-align: center;
  color: #09425a;
}

.card-body.better {
  background-color: #7adfa9;
  width: 100%;
  height: 200px;
}
.card-body.New {
  background-color: #ff604d;
  width: 100%;
  height: 200px;
}
.card.New {
  margin-bottom: 30px;
}
.card.better {
  margin-bottom: 30px;
}
.card.different {
  background-color: #6a99ab;
  width: 550px;

  text-align: center;
}
div.different {
  text-align: center;
}
.col-4.img {
  text-align: center;
  padding-top: 2%;
}

.nav-link.active.btn {
  color: #ffffff !important;
  background-color: #6a99ab;
  width: 80%;
  font-weight: 600;
}
.nav-link.active.btn.book {
  color: #ffffff !important;
  background-color: #09425a;
  width: 25%;
  font-weight: 600;
}

p {
  color: rgb(0, 0, 0);
}
.row.row-cols-1.row-cols-md-2.g-4 {
  padding: 0% !important;
}
.col-6.app {
  padding-top: 5%;
  padding-right: 5%;
}
.container-fluid.SKINCARE {
  padding-bottom: 5%;
}
.col-8.DATA {
  padding-right: 100px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.card.algo {
  box-shadow: 2px 8px 14px 0px hsla(229, 6%, 66%, 0.6);
  border-radius: 8px;
  padding: 30px;
  margin: 2rem 0;
  max-width: 400px;
}
.card.aqua {
  border-top: 5px solid hsl(180, 62%, 55%);
  margin: 0;
}
.card.red {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.card.orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.card.blue {
  border-top: 5px solid hsl(212, 86%, 64%);
  margin: 0;
}

.card img {
  display: block;
  margin-left: auto;
  margin-top: 30px;
}
.btn {
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #09425a;
  margin-bottom: 3%;
  padding: 20px;
}
.btn:hover {
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff604d;
  margin-bottom: 3%;
  padding: 20px;
}

.btn:before {
  content: url(../assets/send.svg);
  width: 20px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  header h1,
  header h2 {
    font-size: 2em;
  }
  header p {
    font-size: 1.1rem;
  }
  .cards {
    flex-direction: row;
  }
  .card {
    margin: 2rem;
  }
}
</style>
