<template>
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-container class="mt-5 elevation-4 rounded-lg">
      <div>
        <v-btn
          color="indigo"
          class="text-white mb-5 d-flex ml-auto"
          @click="getProduct"
          >REFRESH</v-btn
        >
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-tab">
                  ID
                </th>
                <th class="text-tab">
                  Name
                </th>
                <th class="text-tab">
                  Description
                </th>
                <th class="text-tab">
                  Customer
                </th>
                <th class="text-tab">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in product" :key="item.id">
                <td class="pa-3">{{ item.id }}</td>
                <td class="pa-3">{{ item.name }}</td>
                <td class="pa-3">{{ item.description }}</td>
                <td class="pa-3">HORACE</td>
                <td class="pa-3">
                  <v-btn @click="dialog = true" color="primary" dark>
                    Edit
                  </v-btn>
                  <v-btn
                    @click="dialogDelete = true"
                    color="error"
                    dark
                    class="ms-2"
                  >
                    Delete
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-container>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Name" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Description"
                  hint="example of helper text only on focus"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5">
          Suppression
        </v-card-title>
        <v-card-text>Etes vous sur de vouloir supprimer ?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            Cancel
          </v-btn>
          <v-btn color="red darken-1" text @click="dialogDelete = false">
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
let tab = [];
let temp = [];
export default {
  name: "Product",
  components: {},
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      product: [],
    };
  },

  mounted() {
    if (localStorage.getItem("product")) {
      try {
        this.product = JSON.parse(localStorage.getItem("product"));
      } catch (e) {
        localStorage.removeItem("product");
      }
    }
  },

  created() {
    console.log("salut");
    axios.get("http://localhost:8080/api/products").then((response) => {
      tab = response.data;
      let str_json = JSON.parse(JSON.stringify(tab));
      for (var k in str_json) {
        if (k == "hydra:member") {
          for (var i in str_json[k]) {
            temp[i] = str_json[k][i];
          }
        }
      }
      this.product = temp;
      const parsed = JSON.stringify(this.product);
      localStorage.setItem("product", parsed);
    });
  },
  methods: {
    cancelMeth() {
      this.dialogDelete = false;
    },

    getProduct() {
      axios.get("http://localhost:8080/api/products").then((response) => {
        tab = response.data;

        let str_json = JSON.parse(JSON.stringify(tab));

        for (var k in str_json) {
          if (k == "hydra:member") {
            for (var i in str_json[k]) {
              temp[i] = str_json[k][i];
            }
          }
        }

        this.product = temp;
      });
    },
  },
};
</script>
<style scoped>
.text-tab {
  font-size: 15px;
}
</style>
