<template>
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-container class="mt-5 elevation-4 rounded-lg">
      <div>
        <v-file-input
          label="File input"
          outlined
          dense
          @change="handleFileUpload"
        />

        <v-btn class="primary" type="submit" v-on:click="submitFile()"
          >Import</v-btn
        >
      </div>
      <div>
        <!-- <input type="file" @change="handleFileUpload($event)" />
        <v-btn class="primary" type="submit" v-on:click="submitFile()"
          >Submit</v-btn
        > -->

        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-tab">
                  ID
                </th>
                <th class="text-tab">
                  Label
                </th>
                <th class="text-tab">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in question" :key="item.id">
                <td class="pa-3">{{ item.id }}</td>
                <td class="pa-3">{{ item.label }}</td>
                <td class="pa-3">
                  <v-btn @click="dialog = true" color="primary" dark>
                    Edit
                  </v-btn>
                  <v-btn
                    @click="dialogDelete = true"
                    color="error"
                    dark
                    class="ms-2"
                  >
                    Delete
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-container>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Legal first name*" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Legal middle name"
                  hint="example of helper text only on focus"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Legal last name*"
                  hint="example of persistent helper text"
                  persistent-hint
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Email*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Password*"
                  type="password"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  :items="['0-17', '18-29', '30-54', '54+']"
                  label="Age*"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-autocomplete
                  :items="[
                    'Skiing',
                    'Ice hockey',
                    'Soccer',
                    'Basketball',
                    'Hockey',
                    'Reading',
                    'Writing',
                    'Coding',
                    'Basejump',
                  ]"
                  label="Interests"
                  multiple
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5">
          Suppression
        </v-card-title>
        <v-card-text>Etes vous sur de vouloir supprimer ?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            Cancel
          </v-btn>
          <v-btn color="red darken-1" text @click="dialogDelete = false">
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div>
      <v-overlay :value="overlay">
        <v-progress-circular
          indeterminate
          size="64"
          color="purple"
        ></v-progress-circular>
      </v-overlay>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import { VueCsvImport } from "vue-csv-import";

let tab = [];
let tab2 = [];
export default {
  name: "Question",
  components: {},
  data() {
    return {
      overlay: false,
      dialog: false,
      dialogDelete: false,
      question: [],
      parseCsv: "",
      file: "",
    };
  },

  mounted() {
    if (localStorage.getItem("question")) {
      try {
        this.question = JSON.parse(localStorage.getItem("question"));
      } catch (e) {
        localStorage.removeItem("question");
      }
    }
  },
  created() {
    this.overlay = true;

    axios
      .get("http://localhost:8080/api/questions")
      .then((response) => {
        tab = response.data;
        let str_json = JSON.parse(JSON.stringify(tab));
        for (var k in str_json) {
          if (k == "hydra:member") {
            for (var i in str_json[k]) {
              tab2[i] = str_json[k][i];
            }
          }
        }
        this.question = tab2;
        const parsed = JSON.stringify(this.question);
        localStorage.setItem("question", parsed);
      })
      .then(() => {
        this.loadingMetho();
        this.overlay = false;
      });
  },

  methods: {
    cancelMeth() {
      this.dialogDelete = false;
    },

    getQuestion() {
      console.log("salut");
      axios.get("http://localhost:8080/api/questions").then((response) => {
        tab = response.data;

        let str_json = JSON.parse(JSON.stringify(tab));

        for (var k in str_json) {
          if (k == "hydra:member") {
            for (var i in str_json[k]) {
              tab2[i] = str_json[k][i];
            }
          }
        }

        this.question = tab2;
      });
    },

    handleFileUpload(file) {
      //  event.target.files[0];
      this.file = file;
      console.log(this.file);
    },
    submitFile() {
      this.overlay = true;
      let formData = new FormData();
      formData.append("excelFile", this.file);
      formData.append("idCampaign", 1);

      axios
        .post("http://localhost:8080/test-upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          console.log(response);
          console.log("success");
        })
        .catch((error) => {
          // refresh page
          this.$router.go(0);
          this.loadingMetho();
          this.overlay = false;

          console.log(error);
        });
    },

    loadingMetho() {
      if (localStorage.getItem("question")) {
        try {
          this.question = JSON.parse(localStorage.getItem("question"));
        } catch (e) {
          localStorage.removeItem("question");
        }
      }
    },
  },
};
</script>
<style scoped>
.text-tab {
  font-size: 15px;
}
</style>
