<template>
  <div>
    <my-header />
    <div class="homepage">
      <div class="home">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-8">
              <h3>{{ $t("contentSciValidation.section1.title") }}</h3>
              <br />

              <p>{{ $t("contentSciValidation.section1.p1") }} <br /><br /></p>

              <h5>{{ $t("contentSciValidation.section1.subtitle") }}</h5>
              <br />
              <p>
                {{ $t("contentSciValidation.section1.p2") }} <br />
                <br />
                <br />
              </p>
            </div>
            <div class="col-4">
              <img
                class="plage "
                src="../assets/molecule.png"
                alt=""
                width="50%"
                height="50%"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid BeautyTech ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-4">
            <h3>{{ $t("contentSciValidation.section2.leftTitle") }}</h3>
            <br /><br />
            <p>{{ $t("contentSciValidation.section2.p1") }}</p>
            <br /><br />
          </div>

          <div class="col-4 img">
            <img src="../assets/sc.png" alt="" />
          </div>

          <div class="col-4 wired">
            <h3>{{ $t("contentSciValidation.section2.rightTitle") }}</h3>
            <br /><br />
            <p>{{ $t("contentSciValidation.section2.p2") }}</p>
            <br /><br />
          </div>
        </div>
      </div>
      <div class="container-fluid skin ">
        <h2>{{ $t("contentSciValidation.section3.title") }}</h2>
        <br /><br />
        <div class="row ">
          <div class="col-6">
            <p>{{ $t("contentSciValidation.section3.leftp1") }}</p>
            <br />

            <img src="../assets/fle.jpg" alt="" width="100%" height="40%" />
          </div>

          <div class="col-6 ">
            <img
              src="../assets/grape.jpg"
              alt=""
              width="100%"
              height="25%"
            /><br /><br />
            <h5>{{ $t("contentSciValidation.section3.rightSubtitle1") }}</h5>

            <p>{{ $t("contentSciValidation.section3.p2") }}</p>
            <h5>{{ $t("contentSciValidation.section3.rightSubtitle2") }}</h5>
            <p>{{ $t("contentSciValidation.section3.p3") }}</p>
            <br /><br />
            <br /><br />
          </div>
        </div>
      </div>
    </div>
    <my-footer />
  </div>
</template>
<script>
import MyFooter from "../components/MyFooter.vue";
import MyHeader from "../components/MyHeader.vue";
export default {
  name: "Home",
  components: { MyHeader, MyFooter },
};
</script>
<style scoped>
.home {
  background-color: #e8eff2;
}

.row {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.container-fluid.BeautyTech {
  margin-bottom: 3%;
}
.container-fluid.skin {
  background-color: #e8eff2;
  padding-top: 5%;
}
h3,
h4,
h5 {
  font-weight: bold;
  text-align: left;
  color: #09425a;
}

.row.row-cols-1.row-cols-md-2.g-4 {
  padding: 0%;
}
.col-4.img {
  text-align: center;
  padding-top: 1%;
}

.nav-link.active.btn {
  color: #ffffff !important;
  background-color: #6a99ab;
  width: 80%;
  font-weight: 600;
}
.nav-link.active.btn.book {
  color: #ffffff !important;
  background-color: #09425a;
  width: 25%;
  font-weight: 600;
}

p {
  color: black;
}
img.plage {
  margin-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
