<template>
  <div>
    <my-header />
    <div class="homepage">
      <div class="home">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-5 app">
              <h3>{{ $t("contentServices.section1.title") }}</h3>
              <br /><br />

              <p>
                {{ $t("contentServices.section1.p1") }} <br />
                {{ $t("contentServices.section1.p2") }} <br />
                {{ $t("contentServices.section1.p3") }}
                <br /><br /><br />
              </p>
            </div>
            <div class="col-7">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card better">
                    <div class="card-body step1">
                      <h5 class="card-title " style="text-align:center">
                        {{ $t("contentServices.section1.cardTitle1") }}
                      </h5>
                      <br />
                      <p class="card-text better" style="color:#fff">
                        {{ $t("contentServices.section1.cardDesc1") }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card New">
                    <div class="card-body step2">
                      <h5 class="card-title " style="text-align:center">
                        {{ $t("contentServices.section1.cardTitle2") }}
                      </h5>
                      <br />
                      <p class="card-text New " style="color:#fff">
                        {{ $t("contentServices.section1.cardDesc2") }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card better">
                    <div class="card-body step3">
                      <h5 class="card-title " style="text-align:center">
                        {{ $t("contentServices.section1.cardTitle3") }}
                      </h5>
                      <br />
                      <p class="card-text better" style="color:#fff">
                        {{ $t("contentServices.section1.cardDesc3") }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card New">
                    <div class="card-body step4">
                      <h5 class="card-title " style="text-align:center">
                        {{ $t("contentServices.section1.cardTitle4") }}
                      </h5>
                      <br />
                      <p class="card-text New " style="color:#fff">
                        {{ $t("contentServices.section1.cardDesc4") }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid SKINCARE ">
        <div class="row ">
          <h3 style="text-align: center; margin-bottom:60px">
            {{ $t("contentServices.section2.title") }} <br />
            {{ $t("contentServices.section2.subtitle") }}
          </h3>
          <p style="text-align: center;">
            {{ $t("contentServices.section2.p1") }} <br />
            {{ $t("contentServices.section2.p2") }} <br />
            {{ $t("contentServices.section2.p3") }} <br />
            {{ $t("contentServices.section2.p4") }} <br />
            {{ $t("contentServices.section2.p5") }} <br />
            {{ $t("contentServices.section2.p6") }} <br />
          </p>
        </div>
      </div>
      <div class="container-fluid ALGORITHM ">
        <h2>{{ $t("contentServices.section3.title") }}</h2>
        <div class="row ">
          <div class="col-3">
            <h4 style="margin-top:15%">
              {{ $t("contentServices.section3.leftp1") }} <br />
              Antiox <br />
              {{ $t("contentServices.section3.leftp2") }} <br />
              Twell <br />
              NMF <br />
            </h4>
          </div>

          <div class="col-6">
            <div class="col-12 col-md-6 mx-auto">
              <div class="">
                <div class="bg-light position-relative px-3 my-5">
                  <div
                    class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
                    style="width: 80px;height: 80px;top: -30px;border-width: 4px !important; background-color: #9B5DE5"
                  >
                    {{ $t("contentServices.section3.step1") }}
                  </div>
                  <div class="px-3 text-center pb-3">
                    <p>{{ $t("contentServices.section3.desc1") }}</p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="bg-light position-relative px-3 my-5">
                  <div
                    class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
                    style="width: 80px;height: 80px;top: -30px;border-width: 4px !important; background-color: #9B5DE5"
                  >
                    {{ $t("contentServices.section3.step2") }}
                  </div>
                  <div class="px-3 text-center pb-3">
                    <p>{{ $t("contentServices.section3.desc2") }}</p>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="bg-light position-relative px-3 my-5">
                  <div
                    class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
                    style="width: 95px;height: 80px;top: -30px;border-width: 4px !important; background-color: #9B5DE5"
                  >
                    {{ $t("contentServices.section3.lastStep") }}
                  </div>
                  <div class="px-3 text-center pb-3">
                    <p>{{ $t("contentServices.section3.desc3") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <h4 style="margin-top:15%">
              {{ $t("contentServices.section3.rightDesc") }}
            </h4>
          </div>
        </div>
      </div>
      <div class="button">
        <h2>{{ $t("contentServices.section4.title1") }}</h2>
        <img src="../assets/ef.png" alt="" />
        <h2>{{ $t("contentServices.section4.title2") }}</h2>
      </div>
    </div>
    <my-footer />
  </div>
</template>

<script>
import MyFooter from "../components/MyFooter.vue";
import MyHeader from "../components/MyHeader.vue";
export default {
  name: "Home",
  components: { MyHeader, MyFooter },
};
</script>
<style scoped>
.home {
  background-color: #e8eff2;
}

.row {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}
.container-fluid.ALGORITHM {
  background-color: #e8eff2;
  padding: 5% 5% 0% 5%;
}

h2,
h3,
h4,
h5 {
  font-weight: bold;
  text-align: left;
  color: #09425a;
}
h2 {
  font-weight: bold;
  text-align: center;
  color: #09425a;
}

.card-body.step2 {
  background-color: #7adfa9;
  width: 100%;
  height: 200px;
}
.card-body.step1 {
  background-color: #ff604d;
  width: 100%;
  height: 200px;
}
.card-body.step3 {
  background-color: #6a99ab;
  width: 100%;
  height: 200px;
}
.card-body.step4 {
  background-color: #7a89df;
  width: 100%;
  height: 200px;
}
.card.New {
  margin-bottom: 30px;
}
.card.better {
  margin-bottom: 30px;
}
.card.different {
  background-color: #6a99ab;
  width: 550px;

  text-align: center;
}
div.different {
  text-align: center;
}
.col-4.img {
  text-align: center;
  padding-top: 2%;
}

.nav-link.active.btn {
  color: #ffffff !important;
  background-color: #6a99ab;
  width: 80%;
  font-weight: 600;
}
.nav-link.active.btn.book {
  color: #ffffff !important;
  background-color: #09425a;
  width: 25%;
  font-weight: 600;
}

p {
  color: rgb(0, 0, 0);
}
.row.row-cols-1.row-cols-md-2.g-4 {
  padding: 0% !important;
}
.col-6.app {
  padding-top: 5%;
  padding-right: 5%;
}
.container-fluid.SKINCARE {
  padding-bottom: 5%;
}
.col-8.DATA {
  padding-right: 100px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.card.algo {
  box-shadow: 2px 8px 14px 0px hsla(229, 6%, 66%, 0.6);
  border-radius: 8px;
  padding: 30px;
  margin: 2rem 0;
  max-width: 400px;
}
.card.aqua {
  border-top: 5px solid hsl(180, 62%, 55%);
  margin: 0;
}
.card.red {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.card.orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.card.blue {
  border-top: 5px solid hsl(212, 86%, 64%);
  margin: 0;
}

.card img {
  display: block;
  margin-left: auto;
  margin-top: 30px;
}
.btn {
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #09425a;
  margin-bottom: 3%;
  padding: 20px;
}
.btn:hover {
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff604d;
  margin-bottom: 3%;
  padding: 20px;
}

.btn:before {
  content: url(../assets/send.svg);
  width: 20px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  header h1,
  header h2 {
    font-size: 2em;
  }
  header p {
    font-size: 1.1rem;
  }
  .cards {
    flex-direction: row;
  }
  .card {
    margin: 2rem;
  }
}
</style>
