<template>
  <div class="homepage">
    <div class="home">
      <div class="container-fluid ">
    <div class="row">
    <div class="col-6" style="margin-bottom:150px " >

      <h1 style="font-weight: bold;">{{ $t('contentLogin.title1') }}</h1><br>
     
      <img class="plage " src="../assets/cosmetics.png" alt=""  >

    </div>
    <div class="col-6 signup">
         <main class="signup-container">
    
        <h1 style="font-weight: bold;">{{ $t('contentLogin.title2') }}</h1>
    
    <form class="signup-form">

      <label class="inp">
        <input type="email" class="input-text" >
        <span class="label">Email</span>
        <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
      </label>
      <label class="inp">
        <input type="password" class="input-text"  id="password">
        <span class="label">{{ $t('contentLogin.password') }}</span>
        <span class="input-icon input-icon-password" data-password><i class="fa-solid fa-eye"></i></span>
      </label>
     
    </form>
  </main>
      

    </div>
    </div>
    </div>


  </div>

    

    
  </div>

 
    



</template>

<script>



export default {
  name: 'Home',
  components: {
  
  }
}
</script>
<style scoped>



.row{

    padding-top: 5% ;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

h3,h4,h5{
  font-weight: bold;
  text-align: left;
  color: #09425A;
 

}


.row.row-cols-1.row-cols-md-2.g-4{
  padding: 0%;
  

}
.col-4.img{
    text-align: center;
    padding-top: 8%;
}

.nav-link.active.btn {

color:#FFFFFF!important;
background-color:#6A99AB;
width:80% ;
font-weight: 600;

}
.nav-link.active.btn.book{

color:#FFFFFF!important;
background-color:#09425A;
width:25% ;
font-weight: 600;

}


p{
  color: black;
}


.container {
  display: grid;
  grid-template-rows: minmax(min-content, 100vh);
  grid-template-columns: repeat(2, 50vw);
}
.custom-dot {
  color: #09425A;
}
.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.signup-container {
  width: 70vw;
  
  align-items: flex-start;
  justify-content: flex-start;

  grid-column: 1 / 2;
  grid-row: 1;
}
.signup-form {
  max-width: 45rem;
  width: 100%;
}
.text-mute {
  color: #09425A;
}
.heading-primary {
  font-size: 5rem;
}
.input-text {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 3rem 5rem 1rem 2rem;
  border: 2px solid #09425A;
 outline-color: #09425A;
  border-radius: 0rem;
  background: rgb(255, 255, 255);
  font-weight: 800;
  width: 100%;
}
.input-text:focus {
  outline-color: #09425A;
}

.btn {
  padding: 2rem 3rem;
  border: none;
  background: #09425A;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  
  font-weight: 800;
  
}
.btn-signup {
  align-self: flex-end;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 1rem 2rem #00000025;
}
.btn-signup:active {
  box-shadow: none;
}
.btn-signup:hover {
  background: #AABEC6;
}
.inp {
  position: relative;
}
.label {
  pointer-events: none;

  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #09425A;
  font-weight: 800;
  font-size: 1.8rem;

  transition: all 0.2s;
  transform-origin: left;
}
.input-text:not(:placeholder-shown) + .label,
.input-text:focus + .label {
  top: 0.7rem;
  transform: scale(0.75);
}
.input-text:focus + .label {
  color: #09425A;
}
.f-row {
  display: flex;
  gap: 2rem;
}
.input-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #00000070;
}
.input-icon-password {
  cursor: pointer;
}

.container {
  display: flex;
}
.heading-secondary {
  font-size: 3rem;
}

.welcome-container {
  background: #eeeeee75;
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10rem;
}
.lg {
  font-size: 6rem;
}
.welcome-container img {
  width: 100%;
}

@media only screen and (max-width: 70rem) {
  html {
    font-size: 54.5%;
  }
}

@media only screen and (max-width: 60rem) {
  .signup-container {
    padding: 5rem;
  }
}
@media only screen and (max-width: 40rem) {
  html {
    font-size: 48.5%;
  }

  .input-text:not(:placeholder-shown) + .label,
  .input-text:focus + .label {
    top: 0.6rem;
    transform: scale(0.75);
  }
  .label {
    font-size: 1.9rem;
  }
  .input-wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .signup-container {
    grid-column: 1 / 3;
  }
  .welcome-container {
    display: none;
  }
}



</style>
