<template>
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-container class="mt-5 elevation-4 rounded-lg">
      <div>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-tab">
                  ID
                </th>
                <th class="text-tab">
                  DateStart
                </th>
                <th class="text-tab">
                  DateEnd
                </th>
                <th class="text-tab">
                  Product
                </th>
                <th class="text-tab">
                  Customer
                </th>
                <th class="text-tab">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in campaign" :key="item.id">
                <td class="pa-3">{{ item.id }}</td>
                <td class="pa-3">{{ item.datestart }}</td>
                <td class="pa-3">{{ item.dateend }}</td>
                <td class="pa-3"></td>
                <td class="pa-3"></td>
                <td class="pa-3">
                  <!-- <v-btn depressed class="primary" @click="showModalEdit">
                    Edit
                  </v-btn> -->
                  <v-btn
                    @click="dialog = true"
                    v-on:click="openDialog(item.id), campaignQuestion(item.id)"
                    color="primary"
                    dark
                  >
                    Participate
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-container>

    <v-dialog v-model="dialog" id="idCampaign" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5"></span>
        </v-card-title>
        <v-container fluid>
          <v-row align="center">
            <v-col cols="12">
              <v-form v-for="item in questions" :key="item.id">
                <v-select
                  :items="item.answer[1].label"
                  attach
                  chips
                  :label="item.label"
                  multiple
                  v-model="form.answer_id"
                ></v-select>

                <v-text-field
                  class="text_disabled"
                  value="item.id"
                  disabled
                  v-model="form.question_id"
                ></v-text-field>
                <v-text-field
                  class="text_disabled"
                  value="item.id"
                  disabled
                  v-model="form.tester_id"
                ></v-text-field>
                <v-text-field
                  class="text_disabled"
                  value="item.id"
                  disabled
                  v-model="form.session_id"
                ></v-text-field>
              </v-form>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
            v-on:click="createTesterAnswer"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5">
          Suppression
        </v-card-title>
        <v-card-text>Etes vous sur de vouloir supprimer ?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            Cancel
          </v-btn>
          <v-btn color="red darken-1" text @click="dialogDelete = false">
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
let tab = [];
let tab2 = [];
export default {
  name: "ListPost",
  components: {},
  data() {
    return {
      selected: "",
      dialog: false,
      dialogDelete: false,
      campaign: [],
      questions: null,
      questionLabel: [],
      form: {
        question_id: "",
        answer_id: "",
        tester_id: "",
        session_id: "",
      },

      campaign_id: 0,
      select: { state: "Florida", abbr: "FL" },
      items: [
        { state: "Florida", abbr: "FL" },
        { state: "Georgia", abbr: "GA" },
        { state: "Nebraska", abbr: "NE" },
        { state: "California", abbr: "CA" },
        { state: "New York", abbr: "NY" },
      ],
    };
  },

  mounted() {
    if (localStorage.getItem("campaign")) {
      try {
        this.campaign = JSON.parse(localStorage.getItem("campaign"));
      } catch (e) {
        localStorage.removeItem("campaign");
      }
    }
  },

  created() {
    axios.get("http://localhost:8080/api/campaigns").then((response) => {
      tab = response.data;
      let str_json = JSON.parse(JSON.stringify(tab));
      for (var k in str_json) {
        if (k == "hydra:member") {
          for (var i in str_json[k]) {
            tab2[i] = str_json[k][i];
          }
        }
      }
      this.campaign = tab2;
      const parsed = JSON.stringify(this.campaign);
      localStorage.setItem("campaign", parsed);
    });
  },
  methods: {
    cancelMeth() {
      this.dialogDelete = false;
    },
    getCompaign() {
      axios.get("http://localhost:8080/api/campaigns").then((response) => {
        tab = response.data;
        let str_json = JSON.parse(JSON.stringify(tab));
        for (var k in str_json) {
          if (k == "hydra:member") {
            for (var i in str_json[k]) {
              tab2[i] = str_json[k][i];
            }
          }
        }
        this.items = tab2;
      });
    },

    openDialog(id) {
      this.campaign_id = id;
    },
    campaignQuestion(id) {
      this.campaign_id = id;
      console.log(this.campaign_id);

      axios
        .get("http://localhost:8080/api/campaigns/" + this.campaign_id)
        .then((response) => {
          this.questions = response.data.questions;
          console.log(this.questions);
          let i = 0;

          while (i <= this.questions.length) {
            this.questionLabel = this.questions[i].answer;

            i++;
          }
        });
    },

    createTesterAnswer() {
      axios.post("http://localhost:8080/api/tester_answers", this.form);
      window.location.reload();
    },
  },
};
</script>

<style scoped>
.text-tab {
  font-size: 15px;
}
.text_disabled {
  display: none;
}
</style>
