<template>
  <validation-observer
    ref="observer"
    v-slot="{ invalid }"
  >
    <form @submit.prevent="submit">
      <validation-provider
        v-slot="{ errors }"
        name="LastName"
        rules="required|max:10"
      >
        <v-text-field
          v-model="lastname"
          :counter="10"
          :error-messages="errors"
          label="LastName"
          required
        ></v-text-field>
      </validation-provider>

       <validation-provider
        v-slot="{ errors }"
        name="First Name"
        rules="required|max:10"
      >
        <v-text-field
          v-model="FirstName"
          :counter="10"
          :error-messages="errors"
          label="FirstName"
          required
        ></v-text-field>
      </validation-provider>

        <validation-provider
        v-slot="{ errors }"
        name="dateofbirth"
        rules="required"
      >
        <v-text-field
          v-model="dateofbirth"
          :counter="10"
          :error-messages="errors"
          label="dateofbirth"
          required
        ></v-text-field>
      </validation-provider>
      <validation-provider
        v-slot="{ errors }"
        name="height"
        
      >
        <v-text-field
          v-model="height"
          :counter="10"
          :error-messages="errors"
          label="height"
          required
        ></v-text-field>
      </validation-provider>
      
     <validation-provider
        v-slot="{ errors }"
        name="City"
        rules="max:10"
      >
        <v-text-field
          v-model="city"
          :counter="10"
          :error-messages="errors"
          label="City"
          required
        ></v-text-field>
      </validation-provider>

      <validation-provider
        v-slot="{ errors }"
        name="email"
        rules="required|email"
      >
        <v-text-field
          v-model="email"
          :error-messages="errors"
          label="E-mail"
          required
        ></v-text-field>
      </validation-provider>
      <validation-provider
        v-slot="{ errors }"
        name="select"
        rules="required"
      >
        <v-select
          v-model="select"
          :items="items"
          :error-messages="errors"
          label="Select"
          data-vv-name="select"
          required
        ></v-select>
      </validation-provider>
  

      <v-btn
        class="mr-4"
        type="submit"
        :disabled="invalid"
      >
        submit
      </v-btn>
      <v-btn @click="clear">
        clear
      </v-btn>
    </form>
  </validation-observer>
</template>
<script>
  import { required, digits, email, max, regex } from 'vee-validate/dist/rules'
  import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

  setInteractionMode('eager')

  extend('digits', {
    ...digits,
    message: '{_field_} needs to be {length} digits. ({_value_})',
  })

  extend('required', {
    ...required,
    message: '{_field_} can not be empty',
  })

  extend('max', {
    ...max,
    message: '{_field_} may not be greater than {length} characters',
  })

  extend('regex', {
    ...regex,
    message: '{_field_} {_value_} does not match {regex}',
  })

  extend('email', {
    ...email,
    message: 'Email must be valid',
  })

  export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data: () => ({
      firstname: '',
      lastname: '',
      city: '',
      dateofbirth: '',
      height: '',
      email: '',
      
    }),

    methods: {
      submit () {
        this.$refs.observer.validate()
      },
      clear () {
        this.lastname = ''
        this.firstname = ''
        this.email = ''
        this.city = ''
        this.height = ''

        this.$refs.observer.reset()
      },
    },
  }
</script>