<template>
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-container class="mt-5 elevation-4 rounded-lg">
      <div>
        <v-btn
          color="indigo"
          class="text-white mb-5 d-flex ml-auto"
          @click="dialog = true"
          >Edit profile</v-btn
        >
        <v-card class="mx-auto" max-width="844">
          <v-list two-line>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">
                  mdi-account
                </v-icon>
              </v-list-item-icon>
              <v-list-item-title
                >{{ profile.name }} {{ profile.firstname }}</v-list-item-title
              >
            </v-list-item>
            <v-divider inset></v-divider>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">
                  mdi-cake
                </v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ profile.dateofbirth }} </v-list-item-title>
            </v-list-item>

            <v-divider inset></v-divider>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">
                  mdi-email
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>aliconnors@example.com</v-list-item-title>
                <v-list-item-subtitle>Personal</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-divider inset></v-divider>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">
                  mdi-map-marker
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title
                  >{{ profile.city }} {{ profile.address }}</v-list-item-title
                >
              </v-list-item-content>
            </v-list-item>

            <v-divider inset></v-divider>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">
                  mdi-account
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ profile.height }} m</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider inset></v-divider>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="indigo">
                  mdi-account
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ profile.weight }} kg</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </div>
    </v-container>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5"
            >{{ profile.name }} {{ profile.firstname }}</span
          >
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-form @submit.prevent="updatetester" max-width="600px">
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="firstname"
                    :value="'HIGH'"
                    hint="example of helper text only on focus"
                    v-model="form.firstname"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label=" last name*"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                    v-model="form.name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label=" adress"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                    v-model="form.address"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label=" city"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                    v-model="form.city"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label=" date of birth"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                    v-model="form.date"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label=" height"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                    v-model="form.height"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label=" weight"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                    v-model="form.weight"
                  ></v-text-field>
                </v-col>
              </v-form>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            v-on:click="updatetester"
            text
            @click="dialog = false"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5">
          Suppression
        </v-card-title>
        <v-card-text>Etes vous sur de vouloir supprimer ?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            Cancel
          </v-btn>
          <v-btn color="red darken-1" text @click="dialogDelete = false">
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "testerprofile",
  components: {},
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      profile: [],
      form: {
        name: "",
        firstname: "",
        email: "",
        weight: "",
        height: "",
        city: "",
        address: "",
      },
    };
  },

  mounted() {
    if (localStorage.getItem("profile")) {
      try {
        this.profile = JSON.parse(localStorage.getItem("profile"));
      } catch (e) {
        localStorage.removeItem("profile");
      }
    }
  },

  created() {
    axios.get("http://localhost:8080/api/testers/1").then((response) => {
      this.profile = response.data;
      //let str_json = JSON.parse(JSON.stringify(tab));
      // for (var k in str_json) {
      //   if (k == "hydra:member") {
      //     for (var i in str_json[k]) {
      //       tab2[i] = str_json[k][i];
      //     }
      //   }
      // }

      const parsed = JSON.stringify(this.profile);
      localStorage.setItem("profile", parsed);
    });
  },
  methods: {
    cancelMeth() {
      this.dialogDelete = false;
    },

    getTesterprofile() {
      console.log("");
      // axios.get("http://localhost/api/testers/1").then((response) => {

      // // Make a request for a user with a given ID
      // axios.get('http://localhost/api/testers/1')
      //   .then(function (response) {
      //     // handle success
      //     console.log(response);
      //     this.profile=response.data

      //   })
      //   .catch(function (error) {
      //     // handle error
      //     console.log(error);
      //   })
      //   .then(function () {
      //     // always executed
      //   });

      axios.get("http://localhost:8080/api/testers/1").then((resp) => {
        this.profile = resp.data;
      });
      const parsed = JSON.stringify(this.profile);
      localStorage.setItem("profile", parsed);
    },
    updatetester() {
      console.log("salut");
      axios.put("http://localhost:8080/api/testers/1", this.form);
      window.location.reload();
    },
  },
};
</script>
