<template>
  <div>
    <v-app-bar class="blue darken-1" height="80">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/Logo.png"
          transition="scale-transition"
          width="100"
          height="100%"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-container class="mt-5 elevation-4 rounded-lg">
      <div>
        <v-btn
          color="indigo"
          class="text-white mb-5 d-flex ml-auto"
          @click="getTester"
          >REFRESH</v-btn
        >
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-tab">
                  Firstname
                </th>
                <th class="text-tab">
                  Lastname
                </th>
                <th class="text-tab">
                  email
                </th>
                <th class="text-tab">
                  Address
                </th>
                <th class="text-tab">
                  City
                </th>
                <th class="text-tab">
                  DateofBirh
                </th>
                <th class="text-tab">
                  Weight
                </th>
                <th class="text-tab">
                  Height
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in tester" :key="item.id">
                <td class="pa-3">{{ item.name }}</td>
                <td class="pa-3">{{ item.firstname }}</td>
                <td class="pa-3">{{ item.email }}</td>
                <td class="pa-3">{{ item.address }}</td>
                <td class="pa-3">{{ item.city }}</td>
                <td class="pa-3">{{ item.dateofbirth }}</td>
                <td class="pa-3">{{ item.weight }}</td>
                <td class="pa-3">{{ item.height }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
let tab = [];
let tab2 = [];
export default {
  name: "Tester",
  components: {},
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      tester: [],
    };
  },

  mounted() {
    if (localStorage.getItem("tester")) {
      try {
        this.tester = JSON.parse(localStorage.getItem("tester"));
      } catch (e) {
        localStorage.removeItem("tester");
      }
    }
  },

  created() {
    axios.post("http://localhost:8080/api/testers").then((response) => {
      tab = response.data;
      let str_json = JSON.parse(JSON.stringify(tab));
      for (var k in str_json) {
        if (k == "hydra:member") {
          for (var i in str_json[k]) {
            tab2[i] = str_json[k][i];
          }
        }
      }
      this.tester = tab2;
      const parsed = JSON.stringify(this.tester);
      localStorage.setItem("tester", parsed);
    });
  },

  methods: {
    cancelMeth() {
      this.dialogDelete = false;
    },
    getTester() {
      console.log("salut");
      axios.get("http://localhost:8080/api/testers").then((response) => {
        tab = response.data;
        let str_json = JSON.parse(JSON.stringify(tab));
        for (var k in str_json) {
          if (k == "hydra:member") {
            for (var i in str_json[k]) {
              tab2[i] = str_json[k][i];
            }
          }
        }
        this.tester = tab2;
      });
    },
  },
};
</script>
