<template>
  <div>
    <my-header />
    <div class="homepage">
      <div class="home">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-8">
              <h3>{{ $t("contentWhatWeDo.section1.title") }}</h3>
              <br />
              <h4 style="color:#FF604D">
                {{ $t("contentWhatWeDo.section1.subtitle") }}
              </h4>
              <p>
                {{ $t("contentWhatWeDo.section1.p1") }} <br />

                {{ $t("contentWhatWeDo.section1.p2") }}
                {{ $t("contentWhatWeDo.section1.p3") }} <br />

                {{ $t("contentWhatWeDo.section1.p4") }} <br />
                {{ $t("contentWhatWeDo.section1.p5") }} <br />
                {{ $t("contentWhatWeDo.section1.p6") }} <br />
                {{ $t("contentWhatWeDo.section1.p7") }} <br />
                {{ $t("contentWhatWeDo.section1.p8") }} <br /><br /><br />
              </p>
            </div>
            <div class="col-4">
              <img
                class="plage "
                src="../assets/Capture.png"
                alt=""
                width="100%"
                height="300"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid BeautyTech ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-4">
            <h3>{{ $t("contentWhatWeDo.section2.subtitle1") }}</h3>
            <br /><br />
            <p>{{ $t("contentWhatWeDo.section2.p1") }}</p>
            <br /><br />
            <h3>{{ $t("contentWhatWeDo.section2.subtitle2") }}</h3>
            <br /><br />
            <p>{{ $t("contentWhatWeDo.section2.p2") }}</p>
            <br /><br />
          </div>

          <div class="col-4 img">
            <img src="../assets/help.png" alt="" width="50%" height="40%" />
          </div>

          <div class="col-4">
            <h3>{{ $t("contentWhatWeDo.section2.subtitle3") }}</h3>
            <br /><br />
            <p>{{ $t("contentWhatWeDo.section2.p3") }}</p>
            <br /><br />
            <h3>{{ $t("contentWhatWeDo.section2.subtitle4") }}</h3>
            <br /><br />
            <p>{{ $t("contentWhatWeDo.section2.p4") }}</p>
            <br /><br />
          </div>
        </div>
      </div>
    </div>
    <my-footer />
  </div>
</template>

<script>
import MyFooter from "../components/MyFooter.vue";
import MyHeader from "../components/MyHeader.vue";
export default {
  name: "Home",
  components: { MyHeader, MyFooter },
};
</script>
<style scoped>
.home {
  background-color: #e8eff2;
}

.row {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

h3,
h4,
h5 {
  font-weight: bold;
  text-align: left;
  color: #09425a;
}

.row.row-cols-1.row-cols-md-2.g-4 {
  padding: 0%;
}
.col-4.img {
  text-align: center;
  padding-top: 8%;
}

.nav-link.active.btn {
  color: #ffffff !important;
  background-color: #6a99ab;
  width: 80%;
  font-weight: 600;
}
.nav-link.active.btn.book {
  color: #ffffff !important;
  background-color: #09425a;
  width: 25%;
  font-weight: 600;
}

p {
  color: black;
}
</style>
