<template>
  <div>
    <my-header />
    <div class="homepage">
      <div class="home">
        <div class="container-fluid ">
          <div class="row">
            <div class="col-8">
              <h3>{{ $t("contentWhoWeAre.section1.title") }}</h3>
              <br />
              <h4 style="color:#FF604D">
                {{ $t("contentWhoWeAre.section1.subtitle") }}
              </h4>
              <p>
                {{ $t("contentWhoWeAre.section1.p1") }} <br />

                {{ $t("contentWhoWeAre.section1.p2") }} <br />

                {{ $t("contentWhoWeAre.section1.p3") }} <br />

                {{ $t("contentWhoWeAre.section1.p4") }} <br /><br /><br />
              </p>
            </div>
            <div class="col-4">
              <img
                class="plage "
                src="../assets/labo.jpg"
                alt=""
                width="100%"
                height="300"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid BeautyTech ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-4">
            <h3>{{ $t("contentWhoWeAre.section2.leftTitle") }}</h3>
            <br /><br />
            <p>{{ $t("contentWhoWeAre.section2.p1") }}</p>
            <br /><br />
          </div>

          <div class="col-4 img">
            <img src="../assets/chakra.png" alt="" width="100%" height="100%" />
          </div>

          <div class="col-4">
            <h3>{{ $t("contentWhoWeAre.section2.rightTitle") }}</h3>
            <br /><br />
            <p>{{ $t("contentWhoWeAre.section2.p2") }}</p>
            <br /><br />
          </div>
        </div>
      </div>

      <div class="container-fluid CONSORTIUM ">
        <div class="row ">
          <div class="col-6">
            <h3>{{ $t("contentWhoWeAre.section3.leftTitle") }}</h3>
            <br /><br />
            <p>{{ $t("contentWhoWeAre.section3.p1") }}</p>
            <br /><br />
          </div>

          <div class="col-6">
            <h3
              style="font-weight: bold;
  text-align: center"
            >
              {{ $t("contentWhoWeAre.section3.rightTitle") }}
            </h3>
            <div class="cards">
              <div class="col">
                <div class="card algo aqua">
                  <p>{{ $t("contentWhoWeAre.section3.card1") }}</p>
                </div>
              </div>
              <div class="col">
                <div class="card algo red">
                  <p>{{ $t("contentWhoWeAre.section3.card2") }}</p>
                </div>

                <div class="card algo orange">
                  <p>{{ $t("contentWhoWeAre.section3.card3") }}</p>
                </div>
              </div>
              <div class="col">
                <div class="card algo blue">
                  <p>{{ $t("contentWhoWeAre.section3.card4") }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container team">
        <h2
          style="font-weight: bold;
  text-align: center;"
        >
          {{ $t("contentWhoWeAre.section4.title") }}
        </h2>

        <div class="row team-row">
          <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member text-center">
              <div class="team-img">
                <img src="../assets/who1.png" alt="" />
                <div class="overlay">
                  <div class="team-details text-center">
                    <p>{{ $t("contentWhoWeAre.section4.desc1") }}</p>
                    <div class="socials mt-20">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="team-title">SOPHIE LE TANNEUR</h6>
            </div>
          </div>
          <!-- end team member -->

          <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member text-center">
              <div class="team-img">
                <img src="../assets/who2.png" alt="" />
                <div class="overlay">
                  <div class="team-details text-center">
                    <p>{{ $t("contentWhoWeAre.section4.desc2") }}</p>
                    <div class="socials mt-20">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="team-title">STANISLAS VANDIER</h6>
            </div>
          </div>
          <!-- end team member -->

          <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member last text-center">
              <div class="team-img">
                <img src="../assets/who3.png" alt="" />
                <div class="overlay">
                  <div class="team-details text-center">
                    <p>{{ $t("contentWhoWeAre.section4.desc3") }}</p>
                    <div class="socials mt-20">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="team-title">NICOLAS AMALRIC</h6>
            </div>
          </div>
          <!-- end team member -->

          <!-- end team member -->

          <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member last text-center">
              <div class="team-img">
                <img src="../assets/who4.png" alt="" />
                <div class="overlay">
                  <div class="team-details text-center">
                    <p>{{ $t("contentWhoWeAre.section4.desc4") }}</p>
                    <div class="socials mt-20">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="team-title">WILLIAM RICHARD</h6>
            </div>
          </div>
          <!-- end team member -->

          <!-- end team member -->

          <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member last text-center">
              <div class="team-img">
                <img src="../assets/who5.png" alt="" />
                <div class="overlay">
                  <div class="team-details text-center">
                    <p>{{ $t("contentWhoWeAre.section4.desc5") }}</p>
                    <div class="socials mt-20">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="team-title">TU-ANH DUONG</h6>
            </div>
          </div>
          <!-- end team member -->

          <!-- end team member -->

          <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member last text-center">
              <div class="team-img">
                <img src="../assets/who8.png" alt="" />
                <div class="overlay">
                  <div class="team-details text-center">
                    <p>{{ $t("contentWhoWeAre.section4.desc6") }}</p>
                    <div class="socials mt-20">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="team-title">MELISSA EVEILLARD</h6>
            </div>
          </div>
          <!-- end team member -->
        </div>
      </div>
    </div>
    <my-footer />
  </div>
</template>

<script>
import MyHeader from "../components/MyHeader.vue";
import MyFooter from "../components/MyFooter.vue";

export default {
  name: "Home",
  components: { MyHeader, MyFooter },
};
</script>
<style scoped>
.home {
  background-color: #e8eff2;
}

.row {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

h3,
h4,
h5 {
  font-weight: bold;
  text-align: left;
  color: #09425a;
}
.container-fluid.CONSORTIUM {
  background-color: #e8eff2;
}

.row.row-cols-1.row-cols-md-2.g-4 {
  padding: 0%;
}
.col-4.img {
  text-align: center;
  padding-top: 8%;
}

.nav-link.active.btn {
  color: #ffffff !important;
  background-color: #6a99ab;
  width: 80%;
  font-weight: 600;
}
.nav-link.active.btn.book {
  color: #ffffff !important;
  background-color: #09425a;
  width: 25%;
  font-weight: 600;
}

p {
  color: black;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.card.algo {
  box-shadow: 2px 8px 14px 0px hsla(229, 6%, 66%, 0.6);
  border-radius: 8px;
  padding: 30px;
  margin: 2rem 0;
  max-width: 400px;
}
.card.aqua {
  border-top: 5px solid hsl(180, 62%, 55%);
  margin: 0;
}
.card.red {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.card.orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.card.blue {
  border-top: 5px solid hsl(212, 86%, 64%);
  margin: 0;
}

.card img {
  display: block;
  margin-left: auto;
  margin-top: 30px;
}
.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
  color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}

.team-img img {
  height: 400px;
  width: 300 px;
}
.container.team {
  padding-bottom: 10%;
  padding-top: 5%;
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  header h1,
  header h2 {
    font-size: 2em;
  }
  header p {
    font-size: 1.1rem;
  }
  .cards {
    flex-direction: row;
  }
  .card {
    margin: 2rem;
  }
}
</style>
