<template>
  <header>
    <div class="top-header">
      <span v-html="$t('greenMessage')"> </span>
    </div>

    <nav class="navbar navbar-expand-lg  ">
      <div class="container-fluid">
        <router-link class="navbar-brand" :to="`/${$i18n.locale}`">
          <img
            src="../assets/Logo.png"
            alt=""
            width="80"
            height="64"
            class="d-inline-block align-text-top"
          />
        </router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item">
              <router-link class="nav-link active" :to="`/${$i18n.locale}/`">{{
                $t("navbar.home")
              }}</router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link active"
                :to="`/${$i18n.locale}/WhatWeDo`"
                >{{ $t("navbar.whatWeDo") }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link active"
                :to="`/${$i18n.locale}/NewNomadic`"
                >{{ $t("navbar.newNomadic") }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link active"
                :to="`/${$i18n.locale}/SciValidation`"
                >{{ $t("navbar.sciValidation") }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link active"
                :to="`/${$i18n.locale}/WhoWeAre`"
                >{{ $t("navbar.whoWeAre") }}</router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link active"
                :to="`/${$i18n.locale}/Service`"
                >{{ $t("navbar.services") }}</router-link
              >
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <router-link
                class="nav-link active"
                style="color:#09425A!important; font-weight: bold!important;"
                :to="`/${$i18n.locale}/Login`"
                >{{ $t("navbar.login") }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link active btn btn-primary"
                style="color:#FFFFFF!important"
                :to="`/${$i18n.locale}/Signup`"
                >{{ $t("navbar.becomePanelist") }}
              </router-link>
            </li>
          </ul>
          <LanguageSwitcher />
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import LanguageSwitcher from "./LanguageSwitcher.vue";
export default {
  name: "MyHeader",
  components: { LanguageSwitcher },
};
</script>

<style scoped>
.top-header {
  background-color: #7adfa9;
  color: white;
  padding: 10px;
  margin: 0%;
}
.top-header a {
  color: #ff604d;
}
.navbar.navbar-expand-lg {
  background-color: #e8eff2;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}
.navbar > .container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-toggler-icon {
  background-image: url("../assets/border.svg");
}

.navbar-expand-lg .navbar-nav {
  padding-right: 2%;
}
</style>
